*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#category_container {
    flex: 1;
    padding: 0vw 10vw 0vw 10vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.addBox{
    display: flex;
    justify-content: space-between;
}

.searchBox input{
    width: 80vw;
    height: 6vh;
}

header{
    display: flex;
    height: 5vh;
    gap: 1vw;
    text-align: center;
    align-items: center;
    justify-content:left;
    box-shadow: 2px 40px 100px rgba(0, 0, 0, 0.3);
    position: relative;
}

.linkbox{
    display: flex;
    gap: 1vw;
}

header a{
    text-decoration: none;
    color: grey;
}

header a:hover{
    color: #007bff;
}

.headbox{
    margin-left: 5vw;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
    box-shadow: 2px 40px 100px rgba(0, 0, 0, 0.3);
}

#cre{
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}